*
{
    margin: 0px;
    padding: 0px;
}
h1
{
    text-align: center;
}

.big
{
    margin-top: 30px;
    margin-left: 115px;
    background-color: black;
    height: 600px;
    width: 300px;
    border: 2px solid black;
    border-radius: 30px;
}

.big .box1 #t
{
    font-size: 50px;
    color: white;
    background-color: black;
    height: 60px;
    width: 280px;
    border: 3px solid black;
    margin-top: 140px;
    margin-left: 7px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.big .box2
{
    margin-left: 14px;
    margin-right: 10px;
    /* margin-top: 120px; */
}

.box2 #bb
{
    font-size: 28px;
    color: white;
    margin: 3px;
    height: 60px;
    width: 60px;
    background-color: rgba(69, 67, 63, 0.864);
    border-radius: 50%;
    border: 0px solid  rgba(69, 67, 63, 0.864);
}

.big .box2 #bb:hover
{
    background-color: rgba(130, 128, 125, 0.864)
}

.box2 #by
{
    font-size: 28px;
    color: white;
    background-color: rgb(234, 150, 39);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 0px solid;
}

.big .box2 #by:hover
{
    background-color: rgb(224, 184, 132);
}

.box2 #bg
{
    margin: 3px;
    font-size: 28px;
    color: white;
    background-color: rgb(142, 139, 134);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 0px solid;
}

.big .box2 #bg:hover
{
    background-color: rgb(187, 185, 181);
} 

.box2 #b0
{
    color: white;
    height: 60px;
    width: 134px;
    border-radius: 30px;
    background-color: rgba(69, 67, 63, 0.864);
    border: 0px solid;
    font-size: 28px;
}

.big .box2 #b0:hover
{
    background-color: rgba(130, 128, 125, 0.864)
}

.big .gesture
{
    margin-top: 30px;
    margin-left: 93px;
    display: flex;
    height: 4px;
    width: 120px;
    background-color: white;
    border: 0px solid;
    border-radius: 10px;
}